<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <appSettings>
    <!-- Email Configuration -->
    <add key="SmtpHost" value="smtp.gmail.com" />
    <add key="SmtpPort" value="587" />
    <add key="SmtpUser" value="luxestayhotels@gmail.com" />
    <add key="SmtpPass" value="afoj iqtz uaxr kejb" />
  </appSettings>
  
  <connectionStrings>
    <add name="DefaultConnection" 
         connectionString="Server=localhost;Database=eshift_db;Uid=root;Pwd=;" 
         providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  
</configuration>
